@import "../../components/styles/_base.scss";

.donatepage {
  font-family: $font-primary;
  &-header {
    background-color: $color-primary;
    display: flex;
    padding: 1.5rem 3.5rem;
    margin: .5rem .5rem;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: $font-primary;
    font-size: 1.2rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1rem;
      padding: 2rem 2rem;

    }

    @media only screen and (max-width: $bp-small) {
      padding: 2rem 5rem;
      flex-wrap: wrap;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 2rem 2rem;
      flex-wrap: wrap;
    }

    h4 {
      position: absolute;
      right: 13rem;

      @media only screen and (max-width: $bp-medium) {
        right: 10rem;
      }

      @media only screen and (max-width: $bp-small) {
        order: 2;
        position: relative;
        right: 0;
      }
    }
  }
}

.donatepage-content {
  background-color: #e5e5e5;
  height: 84vh;
  padding: 2rem;
   margin: 0 .8rem;
    @media only screen and (max-width: $bp-large) {
      height: 90vh;
      
  }
   @media only screen and (max-width: $bp-medium) {
      padding: 7rem;
      
  }
  
   @media only screen and (max-width: $bp-small) {
      padding: 3rem;
      
  }
   @media only screen and (max-width: $bp-smallest) {
      padding: 1.5rem;
      
  }
  
}

.donatepage-content2 {
  width: 40vw;
  padding: 2rem;
  height: 60vh;
  background-color: #fff;
  margin: 3rem auto;
   @media only screen and (max-width: $bp-large) {
    width: 60vw;
    padding: 6rem;
      
  }
   @media only screen and (max-width: $bp-medium) {
      padding: 3rem;
      }
       @media only screen and (max-width: $bp-small) {
     width: 70vw;
      
  }
       @media only screen and (max-width: $bp-smallest) {
      padding: 1.5rem;
      width: 80vw;
      height: 50vh;
      
  }
}